<!--The content below is only a placeholder and can be replaced.-->
<section style="text-align:center">
  <h1>Welcome - Déploiement SSL</h1>
</section>

<section>
  <h2>Health</h2>
  <code [innerHTML]="health | json_pretty_print" class="{{ healthy }}"></code>
</section>

<section>
  <h2>Chat</h2>
  <form style="text-align: center;" (ngSubmit)="postMessage(myForm.form.value)" #myForm="ngForm">
    <input id="username" name="username" type="text" placeholder="Username" ngModel>
    <input id="message" name="message" type="text" placeholder="Message" ngModel>

    <button type="submit">Send</button>
    <br>
    {{formError}}
  </form>

  <article class="msg" *ngFor="let msg of messages">
    <strong>From: {{msg.username}}</strong>
    <p>{{msg.message}}</p>
  </article>
</section>
